{% extends '_base.html' %}

{% block title %}WebVR FAQ • Is WebVR Ready?{% endblock %}

{% block body %}
  <article class="article faq">
    <h1>Can the WebVR API be polyfilled?</h1>
    <p>
      There are certain features that are possibly only by making changes to the browser platform. The most significant would the ability to traverse links.
    </p>
  </article>

  <article class="article faq">
    <h1>When and how will link traversal work?</h1>
    <p>
      Link traversal is functional in Chromium builds and soon Firefox. Documentation on sample usage is coming soon.
    </p>
  </article>

    </p>
  </article>

  <article class="article faq">
    <h1>Is the spec on the standards body track?</h1>
    <p>
      We have formed a <a href="https://www.w3.org/community/webvr/">W3C Community Group</a>, and the spec lives in a <a href="https://github.com/w3c/">W3C repo</a>. <a href="https://github.com/w3c/webvr-spec/issues/16">Standardization of the spec has not begun yet</a>.
    </p>
  </article>

  <article class="article faq">
    <h1>Can I use HTML and CSS for WebVR?</h1>
    <p>This is not currently possible. However, there has been experiments that would enable the copy of DOM element layouts into textures usable in a webGL scene. Though, this will be quite a ways out before we see anything usable by regular web content.</p>
  </article>

  <article class="article faq">
    <h1>What is WebVR?</h1>
    <p>WebVR is a set of APIs that offer the ability to render and interact with web content in VR.</p>
  </article>

  <article class="article faq">
    <h1>Why WebVR?</h1>
    <p>
      Most VR content today is being created using proprietary closed-source software.  WebVR enables you to build VR experiences using web technologies such as WebGL and utilize the entire bredth of APIs already available in browsers.   The Web also offers accessibility by URL, with no download and installs required and completely open platform for distributing your application.
    </p>
  </article>

  <article class="article faq">
    <h1>What are the easiest ways to get started building WebVR experiences?</h1>
    <p><a href="https://aframe.io/">A-Frame</a>, <a href="https://github.com/borismus/webvr-boilerplate">webvr-boilerplate</a>, <a href="http://threejs.org/">three.js</a>.</p>
  </article>

  <article class="article faq">
    <h1>How does it work?</h1>
    <p><a href="https://hacks.mozilla.org/2016/03/introducing-the-webvr-1-0-api-proposal/">Read all about it here.</a></p>
  </article>

  <article class="article faq" id="is-webvr-supported-on-mobile-devices">
    <h1>Is WebVR supported on mobile devices?</h1>
    <p>Firefox for Android currently has WebVR APIs enabled by default. For browsers that do not support WebVR APIs natively, you can polyfill the behavior using the <a href="https://github.com/borismus/webvr-polyfill">webvr-polyfill</a>.</p>
  </article>

  <!--
  <article class="article faq">
    <h1>What is performance like?</h1>
  </article>

  <article class="article faq">
    <h1>What are the recommended system requirements for viewing WebVR content?</h1>
  </article>
  -->

  <article class="article faq">
    <h1>Which browsers support WebVR?</h1>
    <p>Currently, <a href="http://mozvr.com/#start">Firefox Nightly</a>, <a href="https://drive.google.com/folderview?id=0BzudLt22BqGRbW9WTHMtOWMzNjQ&amp;usp=sharing#list">experimental builds of Chromium</a>, and experimental support in Samsung Internet for Gear VR.</p>
  </article>

  <article class="article faq">
    <h1>Can I use WebVR on Mac or Linux?</h1>
    <p>The recommended platform for using WebVR is Windows using the Oculus Rift VR headset, or using your mobile device with a Cardboard holder. See <a href="#is-webvr-supported-on-mobile-devices">section above</a>.</p>
    <p>Although using WebVR on Mac OS X and Linux is possible using the Oculus 0.5.0 runtime, it is not recommended. Oculus has suspended support for Mac/Linux as of since Oculus 0.5.0 runtime and it is unclear when support will be resumed.</p>
  </article>

  <article class="article faq">
    <h1>How do I use WebVR with <a href="http://www.samsung.com/global/galaxy/gear-vr/">Samsung Gear VR</a>?</h1>
    <p>If you haven&rsquo;t already, insert your <a href="https://www3.oculus.com/en-us/gear-vr/">Samsung Gear VR-compatible phone</a> into the Gear VR headset. This will download and install the Oculus Home Android app.</p>
    <p>Experimental WebVR support for <a href="http://www.samsung.com/global/galaxy/gear-vr/">Gear VR</a> can be enabled in the <a href="http://developer.samsung.com/internet#gearvr-overview">
    Samsung Internet Browser for Gear VR</a> (which can be downloaded from the Oculus Home app). In the Browser, you can enable WebVR support by loading the URL <code>internet://webvr-enable</code> and disable support with the URL <code>internet://webvr-disable</code>.</p>
    <p>It&rsquo;s worth noting that the Samsung Internet Browser&rsquo;s WebVR performance is actively being worked on to reduce current latency. Expect noticeable improvements soon.</p>
  </article>

  <article class="article faq">
    <h1>How do I report issues with WebVR?</h1>
    <p>For the time being, use the following links to view and report issues with WebVR implementations:</p>
    <dl>
      <dt><a href="https://webvr.info/get-chrome/">Chromium</a></dt>
      <dd>
        <ul>
          <li><a href="https://docs.google.com/document/d/1dP9m3WLh2lsBs9jJ9LRwv1l0AtuBQAqGLAV-fUbtz2U/edit">Read release notes</a></li>
          <li><a href="https://github.com/toji/chrome-webvr-issues/issues">View list of open issues</a></li>
          <li><a href="https://github.com/toji/chrome-webvr-issues/issues/new">File an issue</a></li>
        </ul>
      </dd>
      <dt><a href="https://nightly.mozilla.org/">Firefox</a></dt>
      <dd>
        <ul>
          <li><a href="https://bugzilla.mozilla.org/buglist.cgi?quicksearch=%5Bwebvr%5D">View list of open issues</a></li>
          <li><a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Core&amp;component=General&amp;status_whiteboard=[webvr]&amp;cc=kgilbert@mozilla.com">File an issue</a></li>
        </ul>
      </dd>
      <dt><a href="http://developer.samsung.com/internet#gearvr-overview">Samsung Internet Browser for Gear VR</a></dt>
      <dd>
        <ul>
          <li><a href="http://developer.samsung.com/internet#gearvr-overview">Read release notes</a></li>
          <li><a href="https://twitter.com/mkeblx">Tweet at Michael Blix</a> (WebVR engineer, Samsung) to report an issue</li>
        </ul>
      </dd>
    </dl>
  </article>
{% endblock %}
